{% extends "base.html" %}

{% block content %} 
<div class="card">
  <div class="card-header d-md-flex justify-content-between">
    <div class="h3">{{ topic.subject }}</div>
    <div class="text-muted">
      <small><i class="fas fa-user"></i> {{ topic.author }}</small>
      <small><i class="fas fa-clock"></i> {{ topic.created|date:"Y/m/d H:i" }}</small>
    </div>
  </div>
  <div class="card-body">
    {% if perms.topic.delete_topic %}
    <a href="{% url 'topic_delete' topic.id %}" class="btn btn-sm btn-danger float-right">刪除主題</a>
    {% endif %}
    {{ topic.content|linebreaks }}
  </div>
  {% if user.is_authenticated %}
  <div class="card-footer">
    <a href="{% url 'topic_reply' topic.id %}" class="btn btn-primary">回覆討論</a>
  </div>
  {% endif %}
</div>
<hr/>
<ul class="list-group">
  {% for reply in topic.reply_set.all %}
  <li class="list-group-item d-md-flex justify-content-between">
    <div class="ml-2">{{ reply.content|linebreaks }}</div>
    <small class="text-muted">
      <i class="fas fa-user"></i> {{ reply.author }}
      <i class="fas fa-clock"></i> {{ reply.created|date:"Y/m/d H:i" }}
      {% if perms.topic.delete_reply %}
      <a href="{% url 'reply_delete' reply.id %}" class="btn btn-sm btn-danger">刪除回覆</a>
      {% endif %}
    </small>
  </li>
  {% endfor %}
</ul>
{% endblock %}